<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="${home1}"></h1>
<h3 th:text="${home2}"></h3>

<form th:action="@{/umlFromJar}" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="jarFile" accept=".jar" required />
        <span>Wgraj plik .jar (ze skompilowanymi klasami .class)</span>
    </div>

    <div>
        <label>
            <input type="checkbox" name="publicOnly" checked>
            Tylko public
        </label>
    </div>

    <div>
        <button type="submit">Generuj UML</button>
    </div>
</form>


<a th:href="@{/showClassDiagramFromLocalDir}" ><button>Generuj lokalnie</button></a>


</body>
</html>