<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<a class="btn btn-primary" href="/"><button>Home</button></a>

<br>

<canvas id="myChart" style="width:100%;max-width:1800px;height:100%;max-height:1400px" ></canvas>

<script th:inline="javascript">

    var classNames = /*[[${classNames}]]*/ [];
    var fields = /*[[${fields}]]*/ [];
    var constructors = /*[[${constructors}]]*/ [];
    var methods = /*[[${methods}]]*/ [];
    var col = [[${rgb}]];

    console.log(5);
    console.log(classNames[0]);



    let dpi = window.devicePixelRatio;
    var canvas = document.getElementById("myChart");
    var ctx = canvas.getContext("2d");

    let style_height = + getComputedStyle(canvas).getPropertyValue("height").slice(0, -2);
    let style_width = + getComputedStyle(canvas).getPropertyValue("width").slice(0, -2);
    canvas.setAttribute('height', style_height * dpi);
    canvas.setAttribute('width', style_width * dpi);

    var shapeX = 5;
    var shapeY = 5;

    var fontX = 10;
    var fontY = 20;




    for (let i = 0; i < classNames.length; i++) {
        if (!classNames[i]) {
            break;
        }


        ctx.font = "12px Arial";
        ctx.fillText(classNames[i], fontX, fontY);

        fontY = fontY + 30;

        for (let j = 0; j < fields.length; j++) {
            if (!fields[i][j]) {
                break;
            }
            ctx.font = "12px Arial";
            ctx.fillText(fields[i][j], fontX, fontY);
            fontY = fontY + 25;
        }

        fontY = fontY + 15;

        for (let j = 0; j < constructors.length; j++) {
            if (!constructors[i][j]) {
                break;
            }
            ctx.font = "12px Arial";
            ctx.fillText(constructors[i][j], fontX, fontY);
            fontY = fontY + 25;
        }

        fontY = fontY + 15;

        for (let j = 0; j < methods.length; j++) {
            if (!methods[i][j]) {
                break;
            }
            ctx.font = "12px Arial";
            ctx.fillText(methods[i][j], fontX, fontY);
            fontY = fontY + 25;
        }

        console.log(classNames[i]);
        console.log(shapeY);
        console.log(fontY);

        ctx.beginPath();
        ctx.lineWidth = "5";
        ctx.strokeStyle = 'rgb(' + col[i][0] + ',' + col[i][1] + ',' + col[i][2] + ')';
        ctx.rect(5,shapeY, 500,shapeY + (fontY - shapeY));
        ctx.stroke();
        ctx.closePath();

        console.log(classNames[i]);
        console.log(shapeY);
        console.log(fontY);

        ctx.beginPath();
        ctx.lineWidth = "5";
        ctx.strokeStyle = 'rgb(' + col[i][0] + ',' + col[i][1] + ',' + col[i][2] + ')';
        ctx.rect(5,shapeY, 500,shapeY + 20);
        ctx.stroke();
        ctx.closePath();

        console.log(classNames[i]);
        console.log(shapeY);
        console.log(fontY);

        fontY = fontY + 50;
        shapeY = shapeY + fontY - 20;

        console.log(classNames[i]);
        console.log(shapeY);
        console.log(fontY);
    }

</script>

</body>
</html>